@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
:root
{
    --primary: #ffe135;
}
*
{
    margin: 0px;
    padding: 0px;
}
body
{
    font-family: 'Mouse Memoirs', sans-serif;
    margin: 0px;
}
header
{
    text-align: center;
    background-color: #ffe135;
}
header h1{
    font-size: xx-large;
}
p
{
    margin: auto;
    font-size:larger;
    max-width: 800px;
}



textarea
{
    font-size: large;
    display: block;
    text-align: center;
    height: 200px;
    width: 600px;
    padding: 1rem;
    margin: auto;
    
}
#output
{
    font-size: large;
    margin:auto;
    border: 1px solid;
    height: 100px;
    width: 400px;
    padding: 1rem;
}
button{
    display: block;
    height: 100px;
    width: 200px;
    margin: auto;
    border-radius: 2rem;
    background-color: var(--primary);
    font-size: large;
    font-family: 'Mouse Memoirs', sans-serif;
}
#span-text1
{
    display: block;
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
footer
{
    background-color: var(--primary);
    text-align: center;
}