@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
:root
{
    --primary: #ffe135;
    --secondary:#fef08a;
}
*
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
body
{
    font-family: 'Mouse Memoirs', sans-serif;
    background-color: var(--secondary);
}
header
{
    text-align: center;
    background-color: var(--primary);
    padding: 0.75rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
img{
    height:17vh;
    width:12vh;
}
header h1{
    height:17vh;
    width:22vh;
    display: inline-block;
    font-size: 55px;
}


p
{

    margin: auto;
    font-size:22px;
    max-width: 900px;
}


textarea
{
    font-size: 20px;
    display: block;
    text-align: center;
    height: 25vh;
    width: 50%;
    padding: 1rem;
    margin: auto;
    margin-top: 1.5rem;
    border-radius: 1rem;
    
}
#output
{
    font-size: 20px;
    margin:auto;
    border: 1px solid;
    height: 12.5vh;
    width: 40%;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    background-color: white;
}
button{
    display: block;
    height: 50px;
    width: 200px;
    margin: auto;
    border-radius: 2rem;
    background-color: var(--primary);
    font-size: large;
    font-family: 'Mouse Memoirs', sans-serif;
}
#span-text1
{
    display: block;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
footer
{
    background-color: var(--primary);
    text-align: center;
    margin-top:1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
footer h2{
    font-size: 45px;
}